* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0;
}
nav.navigation {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #648ec6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 50px;
}
nav.navigation .logo img {
  height: 2.5em;
}
nav.navigation ul.items {
  list-style: none;
}
nav.navigation ul.items li {
  padding: 0 15px;
  display: inline;
}
nav.navigation ul.items li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 720px) {
  nav.navigation ul.items li {
    padding: 0;
    display: block;
    text-align: right;
  }
}
section.intro {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #648ec6;
  box-shadow: inset 0px -20px 20px -20px rgba(0, 0, 0, 0.5);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 20% 0 20%;
}
@media only screen and (max-width: 720px) {
  section.intro {
    padding: 25px 10% 0 10%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  section.intro .claim {
    text-align: center;
  }
}
section.intro .claim {
  color: white;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  padding: 25px;
}
section.intro .claim h1 {
  font-size: 2em;
  margin-bottom: 15px;
  text-transform: uppercase;
}
section.intro .claim p {
  font-size: 1.2em;
  margin-bottom: 15px;
}
section.intro .claim a.cta {
  background: black;
  border-radius: 5px;
  color: white;
  display: block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
section.intro .screenshot {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
  padding: 25px 25px 0 25px;
}
section.intro .screenshot img {
  display: block;
  width: 100%;
}
section.instructions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 20%;
}
@media only screen and (max-width: 720px) {
  section.instructions {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
section.instructions .step {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  text-align: center;
}
section.instructions .step img {
  width: 100%;
}
section.instructions .step p {
  color: grey;
}
section.features {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #e4e7ec;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 20%;
}
@media only screen and (max-width: 1100px) {
  section.features {
    padding: 50px 3.33333333%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  section.features .screenshot {
    display: none;
  }
  section.features .list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 !important;
    text-align: center !important;
  }
  section.features .list .feature {
    background: white;
    border-radius: 5px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 5px;
  }
  section.features .list .feature .icon {
    padding-bottom: 10px;
  }
}
section.features .list {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  padding: 20px;
  text-align: right;
}
section.features .list.right {
  text-align: left;
}
section.features .list .feature {
  padding: 20px 0;
}
section.features .list .feature .icon {
  color: grey;
  margin-bottom: 5px;
  font-size: 2em;
}
section.features .screenshot {
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7;
}
section.features .screenshot img {
  width: 100%;
  display: block;
}
footer.footer {
  background: #648ec6;
  padding: 20px;
  text-align: center;
}
footer.footer a {
  color: white;
  padding: 0 20px;
  text-decoration: none;
}
footer.footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=landing.css.map */
