* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0;
}
.cta-button {
  background: black;
  border-radius: 5px;
  color: white;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
nav.navigation {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #648ec6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 50px;
}
nav.navigation .logo img {
  height: 2.5em;
}
nav.navigation .items {
  list-style: none;
}
nav.navigation .items li {
  padding: 0;
  display: block;
  text-align: right;
}
nav.navigation .items li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
@media only screen and (min-width: 720px) {
  nav.navigation .items li {
    display: inline;
    padding: 0 15px;
    text-align: left;
  }
}
section.intro {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #648ec6;
  box-shadow: inset 0px -20px 20px -20px rgba(0, 0, 0, 0.5);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 10% 0 10%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 720px) {
  section.intro {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 50px 20% 0 20%;
  }
}
section.intro .claim {
  color: white;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  text-align: center;
}
@media only screen and (min-width: 720px) {
  section.intro .claim {
    padding: 25px;
    text-align: left;
  }
}
section.intro .claim h1 {
  font-size: 2em;
  margin-bottom: 15px;
  text-transform: uppercase;
}
section.intro .claim p {
  font-size: 1.2em;
  margin-bottom: 15px;
}
section.intro .screenshot {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
  margin-top: 25px;
}
@media only screen and (min-width: 720px) {
  section.intro .screenshot {
    padding: 0 25px;
  }
}
section.intro .screenshot img {
  display: block;
  width: 100%;
}
section.instructions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px 20%;
}
@media only screen and (min-width: 720px) {
  section.instructions {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
section.instructions .step {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  text-align: center;
}
section.instructions .step img {
  width: 100%;
}
section.instructions .step p {
  color: grey;
}
section.features {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #e4e7ec;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px 3.33333333%;
}
@media only screen and (min-width: 1100px) {
  section.features {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 50px 20%;
  }
}
section.features .list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  padding: 0;
  text-align: center;
}
@media only screen and (min-width: 1100px) {
  section.features .list {
    display: block;
    padding: 20px;
    text-align: right;
  }
  section.features .list.right {
    text-align: left;
  }
}
section.features .list .feature {
  background: white;
  border-radius: 5px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.8em;
  margin: 5px;
  padding: 20px 10px;
}
@media only screen and (min-width: 720px) {
  section.features .list .feature {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1100px) {
  section.features .list .feature {
    background: none;
    margin: 0;
  }
}
section.features .list .feature .icon {
  color: grey;
  font-size: 2em;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 1100px) {
  section.features .list .feature .icon {
    margin-bottom: 0;
  }
}
section.features .screenshot {
  display: none;
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7;
}
@media only screen and (min-width: 1100px) {
  section.features .screenshot {
    display: block;
  }
}
section.features .screenshot img {
  width: 100%;
  display: block;
}
.bottom-cta {
  background: #e4e7ec;
  padding: 0 20% 50px;
  text-align: center;
}
.bottom-cta .cta-button {
  display: inline-block;
  padding: 10px 3em;
}
footer.footer {
  background: #648ec6;
  padding: 20px;
  text-align: center;
}
footer.footer a {
  color: white;
  padding: 0 20px;
  text-decoration: none;
}
footer.footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=landing.css.map */
