section.features {
    align-items: center;
    background: @secondary-background-color;
    display: flex;
    padding: @section-spacing @content-margin;

    @media @tablet {
        padding: @section-spacing @content-margin/6;
        flex-direction: column;

        .screenshot {
            display: none;
        }

        .list {
            display: flex;
            padding: 0 !important;
            text-align: center !important;

            .feature {
                background: white;
                border-radius: 5px;
                flex: 1;
                margin: 5px;

                & .icon {
                    padding-bottom: 10px;
                }
            }
        }
    }

    & .list {
        flex: 4;
        padding: @features-spacing;
        text-align: right;

        &.right {
            text-align: left;
        }

        .feature {
            padding: @features-spacing 0;

            .icon {
                color: grey;
                margin-bottom: 5px;
                font-size: 2em;
            }
        }
    }

    .screenshot {
        flex: 7;

        & img {
            width: 100%;
            display: block;
        }
    }
}
