footer.footer {
  background: @highlight-background-color;
  text-align: center;
  padding: @footer-spacing;

  & a {
    color: white;
    text-decoration: none;
    padding: 0 @footer-spacing;

    &:hover {
      text-decoration: underline;
    }
  }
}