footer.footer {
  background: @intro-bg;
  text-align: center;
  padding: 20px;

  & a {
    color: white;
    text-decoration: none;
    padding: 0 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}