section.instructions {
    display: flex;
    padding: @section-spacing @content-margin;

    @media @mobile {
        & {
            flex-direction: column;
        }
    }

    & .step {
        flex: 4;
        text-align: center;

        & img {
            width: 100%;
        }

        & p {
            color: grey;
        }
    }
}
