section.instructions {
  padding: @section-spacing @content-margin;
  display: flex;

  & .step {
    text-align: center;

    flex: 4;

    & img {
      width: 100%;
    }

    & p {
      color: grey;
    }
  }
}