section.intro {
    align-items: center;
    background: @highlight-background-color;
    box-shadow: inset 0px -20px 20px -20px rgba(0,0,0,0.5);
    display: flex;
    padding: @intro-headroom @content-margin 0 @content-margin;

    @media @mobile {
        & {
            padding: @intro-headroom/2 @content-margin/2 0 @content-margin/2;
            flex-direction: column;

            & .claim {
                text-align: center;
            }
        }
    }

    & .claim {
        color: white;
        flex: 4;
        padding: @intro-gutter/2;

        & h1 {
            font-size: 2em;
            margin-bottom: @claim-spacing;
            text-transform: uppercase;
        }

        & p {
            font-size: 1.2em;
            margin-bottom: @claim-spacing;
        }

        & a.cta {
            background: black;
            border-radius: 5px;
            color: white;
            display: block;
            padding: 5px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    & .screenshot {
        flex: 6;
        padding: @intro-gutter/2 @intro-gutter/2 0 @intro-gutter/2;

        & img {
            display: block; // Avoid "the gap"
            width: 100%;
        }
    }
}
