section.intro {
    align-items: center;
    background: @highlight-background-color;
    box-shadow: inset 0px -20px 20px -20px rgba(0, 0, 0, 0.5);
    display: flex;
    padding: @intro-headroom/2 @content-margin/2 0 @content-margin/2;
    flex-direction: column;

    @media @aboveMobile {
        flex-direction: row;
        padding: @intro-headroom @content-margin 0 @content-margin;
    }

    .claim {
        color: white;
        flex: 4;
        text-align: center;

        @media @aboveMobile {
            padding: @intro-gutter/2;
            text-align: left;
        }

        h1 {
            font-size: 2em;
            margin-bottom: @claim-spacing;
            text-transform: uppercase;
        }

        p {
            font-size: 1.2em;
            margin-bottom: @claim-spacing;
        }
    }

    .screenshot {
        flex: 6;
        margin-top: @intro-gutter/2;

        @media @aboveMobile {
            padding: 0 @intro-gutter/2;
        }

        & img {
            display: block; // Avoid "the gap"
            width: 100%;
        }
    }
}
