nav.navigation {
    align-items: center;
    background: @highlight-background-color;
    display: flex;
    justify-content: space-between;
    padding: @nav-margin/2 @nav-margin;

    .logo img {
        height: 2.5em;
    }

    .items {
        list-style: none;

        li {
            padding: 0;
            display: block;
            text-align: right;

            a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
            }

            @media @aboveMobile {
                display: inline;
                padding: 0 @nav-links-spacing;
                text-align: left;
            }
        }
    }
}
