.comments {}
.comment {
    clear: left;
    margin-bottom: 2em;
    overflow: auto;

    &__avatar {
        float: left;
        width: 15%;

        img {
            width: 80%;
        }
    }

    &__content {
        float: left;
        width: 85%;
    }

    &__meta {
        background: #eee;
    }

    &__body {

    }
}
