.comment-form {

    margin-bottom: 1em;

    textarea {
        border: 2px solid #ccc;
        border-radius: 0.25em;
        font-size: 1.25em;
        outline: none;
        padding: 0.75em 1em;
        position: relative;
        width: 100%;
    }

    &__button-container {
        margin-bottom: 2em;
        margin-top: -3.25em;
        text-align: right;
        transition: margin 0.25s;

        &.active {
            margin: 0;
        }

        input, a {
            background-color: #444;
            color: #fff;
            font-family: "Roboto", Helvetica, Arial, sans-serif;
            font-size: 1.25em;
        }

        input:hover, a:hover, input:focus, a:focus {
            background-color: #2b2b2b;
            color: #fff;
        }

        .github-icon {
            display: block;
            fill: #fff;
            float: left;
            height: 1.125em;
            margin: 0.1em 0.25em 0 0;
            width: 1.125em;
        }

    }

}

.comments {}
.comment {
    clear: left;
    margin-bottom: 2em;
    overflow: auto;

    &__avatar {
        float: left;
        width: 15%;

        img {
            border-radius: 0.25em;
            width: 80%;
        }
    }

    &__content {
        float: left;
        width: 85%;
    }

    &__meta {
        background: #efefef;
        border-radius: 0.25em;
        font-size: 0.875em;
        padding: 1em;
    }

    &__body {
        border-bottom: 1px solid #ddd;
        padding: 1em;
    }
}
