@import "bootstrap/bootstrap";
@import "gistlog";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.container {
  max-width: 700px;
}

.profile-pic {
  display: block;
  margin: 0 auto 1.5em;
  width: 10em;
}
  .profile-pic img {
    border: 5px solid #eee;
    border-radius: 5em;
    height: 10em;
    width: 10em;
  }
