.gistlog {}

.gistlog__title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 0.75em;
}

.gistlog__content {
  -webkit-font-smoothing: antialiased;
  font-family: "Linux Libertine";
  font-size: 22px;
  line-height: 1.5;

  h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto";
    font-weight: 700;
  }

  h2 { font-size: 32px; }
  h3 { font-size: 24px; }

  p {
    margin-bottom: (30em/22em);
  }
}

.gistlog__meta {}
.gistlog__links {}
